<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucloud.uvod.example"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ucloud.uvod.example.MainDemos"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ucloud.uvod.example.impl.Demo1"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensor"
            android:theme="@style/FullscreenTheme" >

            <intent-filter>
                <action android:name="ucloud.intent.action.uvod.example.demo1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:scheme="http" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ucloud.uvod.example.impl.Demo2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >

            <intent-filter>
                <action android:name="ucloud.intent.action.uvod.example.demo2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.ucloud.uvod.example.preference.SettingsActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
